[submodule "packages/lint-configuration"]
	path = packages/lint-configuration
	url = git@github.com:ljtang2009/lint-configuration.git
	branch = dev
[submodule "packages/lint-configuration-website"]
	path = packages/lint-configuration-website
	url = git@github.com:ljtang2009/lint-configuration-website.git
	branch = dev
[submodule "packages/lint-configuration-docs"]
	path = packages/lint-configuration-docs
	url = git@github.com:ljtang2009/lint-configuration-docs.git
	branch = dev
[submodule "packages/lint-configuration-creator"]
	path = packages/lint-configuration-creator
	url = git@github.com:ljtang2009/lint-configuration-creator.git
	branch = dev
